tbody {
    display:block;
    height:390px;
    overflow:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead {
    width: calc( 100% - 1em )
}

table {
    width:100%;
    margin-bottom: 30px;
    margin-top: 10px;
}

nav {
    margin-bottom: 30px;
}