<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Tracker</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/base.css">
</head>
<body>

<nav>
    <div class="nav-wrapper indigo darken-4">
        <a href="#" class="brand-logo center">Covid-19 Tracker</a>
    </div>
</nav>
<div class="container" id="app">
    <div class="row">
        <div class="input-field col s6">
            <input v-model="currentState" placeholder="South Carolina" id="State" type="text">
            <label for="State">State</label>
        </div>
        <div class="col s2">
            <a v-on:click="updateCaseData()" class="waves-effect waves-light btn-large indigo darken-4">Update Data</a>
        </div>

        <div id="countyTable" class="card col s12">
            <span class="card-title">Covid-19 Cases and Deaths by County</span>
            <br>
            <br>
            <a v-on:click="sortCountyCasesAsc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Cases Asc</a>
            <a v-on:click="sortCountyCasesDesc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Cases Desc</a>
            <a v-on:click="sortCountyDeathsAsc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Deaths Asc</a>
            <a v-on:click="sortCountyDeathsDesc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Deaths Desc</a>
            <table class="striped responsive-table centered">
                <thead>
                <tr>
                    <th>County</th>
                    <th>Cases</th>
                    <th>Deaths</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in countyCases">
                    <td>{{ row.county }}</td>
                    <td>{{ row.cases }}</td>
                    <td>{{ row.deaths }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="dateTable" class="card col s12">
            <span class="card-title">Covid-19 Cases and Deaths by Date</span>
            <br>
            <br>
            <a v-on:click="sortDatesAsc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Dates Asc</a>
            <a v-on:click="sortDatesDesc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Dates Desc</a>
            <table class="striped responsive-table centered">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Cases</th>
                    <th>Deaths</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in dateCases">
                    <td>{{ row.date | formatDate }}</td>
                    <td>{{ row.cases }}</td>
                    <td>{{ row.deaths }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="stateTable" class="card col s12">
            <span class="card-title">Covid-19 Cases and Deaths in US</span>
            <br>
            <br>
            <a v-on:click="sortStateCasesAsc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Cases Asc</a>
            <a v-on:click="sortStateCasesDesc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Cases Desc</a>
            <a v-on:click="sortStateDeathsAsc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Deaths Asc</a>
            <a v-on:click="sortStateDeathsDesc()" class="waves-effect waves-light btn-small indigo darken-4">Sort Deaths Desc</a>
            <table class="striped responsive-table centered">
                <thead>
                <tr>
                    <th>State</th>
                    <th>Cases</th>
                    <th>Deaths</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in stateCases">
                    <td>{{ row.state }}</td>
                    <td>{{ row.cases }}</td>
                    <td>{{ row.deaths }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./scripts/app.js"></script>
</body>
</html>